<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ptt.dao.BmbMapper">

    <!--添加用户-->
    <insert id="saveBmb" parameterType="Bmb">
        insert into bmb(name,qq,type,jointime,school,studyid,dailylink,hope,create_at) values
(#{name},#{qq},#{type},#{jointime},#{school},#{studyid},#{dailylink},#{hope},now())
    </insert>

    <!--删除用户-->
    <delete id = "deleteBmbById" parameterType="Integer">
        delete from bmb where id = #{bmbid}
    </delete>

    <!--修改用户-->
    <update id="updateBmb" parameterType="Bmb">
        update bmb set name = #{name}, qq = #{qq},type = #{type},jointime = #{jointime} where id = #{id}
    </update>

    <!--查询单个用户-->
    <select id="getBmbById" resultType="Bmb">
        select * from bmb where id = #{bmbid}
    </select>

    <!--配置查询所有-->
    <select id="queryAllBmb" resultType="Bmb">
        select * from bmb
    </select>

</mapper>